body, html, .root {
  margin: 0;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

main {
  height: 100%;
  background-image: url("../../images/cleaning-background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  border: none;
  background: none;
}

.loading-broom-container {
  margin: auto;
  text-align: center;
}

.sweeping-gif {
  width: 50vw;
}

.loading-msg {
  position: absolute;
  top: 5vh;
  font-size: 3rem;
  left: 10vw;
}