.chore-form-container {
  background-color: #fcef7cb8;
  box-shadow: 5px 5px 15px black;
  margin: 3%;
  padding: 2% 5%;
  width: 60%;
  overflow: auto;
  border-radius: 15px;
}

.chore-form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.chore-div {
  display: flex;
  justify-content: space-between;
}

.chore-list {
  background-color: white;
  border: 1px black solid;
  padding: 2%;
  width: 40%;
  text-align: center;
  border-radius: 15px;
}

li {
  font-size: 15pt;
  text-align: left;
  padding: 2%;
  border-bottom: solid black 1px;
  width: 75%;
}

.edit-chore {
  width: 96%;
}

.chore-btn, .house-btn {
  border: solid black 1px;
  background-color: #007838;
  color: white;
  font-size: 15pt;
  margin-right: 2%;
  margin-top: 2%;
  padding: 1% 2%;
  width: 200px;
  height: 50px;
}

.chore-btn {
  margin-bottom: 8%;
  border-radius: 15px;
}

.chore-btn:hover, .house-btn:hover, .submit-name:hover {
  background-color: #fcef7c;
  color: black;
}

li {
  text-transform: capitalize;
}

.select-control {
  margin-top: 10px;
}

.label > input {
  margin-top: 10px;
}

.label {
  margin-bottom: 8%;
}

@media screen and (max-width: 900px) {
  .chore-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .chore-div {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .chore-form {
    order: 2;
    width: 80%;
  }

  .chore-list {
    width: 80%;
    margin-top: 3%;
  }

  input {
    height: fit-content;
    padding: 3%;
  }
}

@media screen and (max-width: 550px) {
  li {
    font-size: 10pt;
  }

  h2 {
    font-size: 12pt;
  }

  .chore-btn, .house-btn {
    width: 100%;
    font-size: 10pt;
    padding-bottom: 1%;
  }
}

@media screen and (max-width: 400px) {
  li {
    font-size: 8pt;
    margin: 0;
    padding: 0;
  }

  ol {
    padding: 0 0 0 15%;
  }

  h2 {
    font-size: 10pt;
  }

  .chore-list {
    padding: 0;
    margin: 0;
  }
}