.chore-form-container {
  background-color: #fcef7cb8;
  box-shadow: 5px 5px 25px black;
  margin-top: 5%;
  padding: 2% 5%;
}

.chore-form {
  display: flex;
  flex-direction: column;
}

.chore-div {
  display: flex;
}