.dashboard {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
  overflow-y: scroll;
}

.chore-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.week-nav {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  background-color: #fcef7c;
  border-radius: 50px;
  margin: 0 5% 1% 5%;
}

.day-btn {
  font-size: 20pt;
  height: 100px;
  width: 100%;
  text-transform: capitalize;
}

.day-btn:hover, .day-btn:focus, .selected {
  background-color: #007838;
  color: white;

}

.selected {
  border: black solid 3px;
}

.monday:hover, .monday {
  border-radius: 50px 0px 0px 50px;
}

.sunday:hover, .sunday {
  border-radius: 0px 50px 50px 0px;
}

.nav-btn {
  font-size: 25pt;
  margin: 1% 0;
}

nav {
  background-color: #fcef7cb8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: black solid 3px;
}

.day-off {
  background-color: #fcef7cb8;
  width: 40%;
  margin-left: 30%;
  font-size: 25pt;
  padding: 2%;
  box-shadow: 5px 5px 25px black;
  margin-top: 5%;
}

.hidden {
  display: none;
}

@media screen and (max-width: 950px) {
  .day-btn {
    font-size: 10pt;
    height: 75px;
  }

  .nav-btn {
    font-size: 15pt;
  }
}

@media screen and (max-width: 550px) {
  .shown {
    display: none;
  }

  .hidden {
    text-transform: uppercase;
    display: contents;
  }

  .nav-btn {
    font-size: 10pt;
  }

  h1 {
    font-size: 15pt;
  }
}

@media screen and (max-width: 350px) {
  .nav-btn {
    font-size: 8pt;
  }
}