.dashboard {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.week-nav {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  background-color: #fcef7c;
  border-radius: 50px;
  margin: 0 5%;
}

.day-btn {
  font-size: 20pt;
  height: 100px;
  width: 100%;
}

.day-btn:hover, .day-btn:focus {
  background-color: #007838;
  color: white;
}

.day-btn:focus {
  border: black solid 3px;
}

.Monday:hover, .Monday:focus {
  border-radius: 50px 0px 0px 50px;
}

.Sunday:hover, .Sunday:focus {
  border-radius: 0px 50px 50px 0px;
}

.nav-btn {
  font-size: 25pt;
  margin: 1% 0;
}

nav {
  background-color: #fcef7cb8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: black solid 3px;
}

.day-off {
  background-color: #fcef7cb8;
  width: 40%;
  margin-left: 30%;
  font-size: 25pt;
  padding: 2%;
  box-shadow: 5px 5px 25px black;
  margin-top: 5%;
}