.chore-card {
  border: 2px solid black;
  margin: 1%;
  padding: 1%;
  width: 240px;
  text-align: center;
  color: aliceblue;
  text-shadow: 2px 2px 5px black;
  font-size: larger;
}

h2 {
  text-transform: capitalize;
}